html,body{
    height: 100%;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-image: url('Resources/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-bar{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.top-bar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 95%;
    user-select: none;
}
.window{
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1000;
}

#start-window{
    height: 300px;
    width: 400px;
    background-color: rgba(56, 199, 255, 0.793);
    left: 80px;
    top: 100px;
    border: 1px solid rgb(255, 255, 255);
    padding :1px
}

.window-header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: move;
    user-select: none; 
}

.welcome-text{
    margin: 0;
}
#lazy-person{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('Resources/not so lazy.jpg');
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.close-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    user-select: none; 
}
.close-btn-2{
    position: absolute;
    top: 5px;
    left: 22px;
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
}
.close-btn-3{
    position: absolute;
    top: 5px;
    left: 39px;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
}

.start-button{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: inset 0px 0px 5px rgb(255, 255, 255);
    left: 15px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;

    perspective: 500px;
}
.start-button:hover{
    transform: scale(1.1) translateY(-3px) rotateX(15deg) rotateY(15deg) rotateZ(5deg);


    box-shadow: inset 0px 0px 10px rgb(21, 2, 2), 
                0px 8px 15px rgba(252, 255, 154, 0.858);

}

#start-window-start-button{
    top: 50px;
    background-image: url('Resources/a lazy person.png');
}

#note-start-button{
    top: 130px;
    background-image: url('Resources/my thoughts.jpg');
}

#note{
    height: 700px;
    width: 600px;
    background-color: rgba(56, 255, 255, 0.793);
    left: 80px;
    top: 100px;
    border: 1px solid rgb(255, 255, 255);
    padding :1px

}

#wallpaper-start-button{
    top: 210px;
    background-image: url('Resources/choose wallpaper.jpg');
}

#wallpaper{
    height: 700px;
    width: 600px;
    background-color: rgba(56, 255, 255, 0.793);
    left: 80px;
    top: 100px;
    border: 1px solid rgb(255, 255, 255);
    padding :1px
}
#music-start-button{
    top: 290px;
    background-image: url('Resources/music.jpg');
}

#music{
    height: 700px;
    width: 600px;
    background-color: rgba(56, 255, 255, 0.793);
    left: 80px;
    top: 100px;
    border: 1px solid rgb(255, 255, 255);
    padding :1px
}
#calculator-start-button{
    top: 370px;
    background-image: url('Resources/calender.jpg');
}
#calculator{
    height: 700px;
    width: 600px;
    background-color: rgba(56, 255, 255, 0.793);
    left: 80px;
    top: 100px;
    border: 1px solid rgb(255, 255, 255);
    padding :1px
}

.note-book{
    display: flex;
    position: absolute;
    top: 60px;
    flex-direction: column;
    width: 85%;
    height: 85%;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}
#change-note-book{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
    top: 27px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}
.note-book-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 80%;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.note-book-tab:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.note-book-tab.active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#display-blank{
    background-color: rgb(255, 255, 255);
}

#dev-log{
    display: none;
    background-color: rgb(159, 247, 65);
}
#user-take-note{
    display: none;
    background-color: rgb(255, 255, 88);
}
#user-save-note{
    display: none;
    background-color: rgb(210, 95, 95);}

#note-textarea{
    position: absolute;
    top: 5px;
    left: 5%;
    width: 90%;
    height: 95%;
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}
#note-textarea::placeholder{
    color: rgba(0, 0, 0, 0.405);
    font-style: italic;
}
#note-textarea::-webkit-scrollbar {
  width: 8px;
}
#note-textarea::-webkit-scrollbar-track {
  background: rgba(239, 222, 154, 0.85);
  border-radius: 8px;
}
#note-textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent; 
  background-clip: padding-box; 
  border-radius: 6px;
}
#note-textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}