html,body{
    height: 100%;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-image: url('wallpaper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top-bar{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.top-bar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 95%;
    user-select: none;
}

#start-window{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    background-color: rgba(56, 199, 255, 0.793);
    left: 80px;
    top: 100px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    padding :1px
}

.window-header{
    
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: move;
    user-select: none; 
}

.welcome-text{
    margin: 0;
}
#lazy-person{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('a lazy person.png');
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.close-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    user-select: none; 
}
.close-btn-2{
    position: absolute;
    top: 5px;
    left: 22px;
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
}
.close-btn-3{
    position: absolute;
    top: 5px;
    left: 39px;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
}

.start-button{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: inset 0px 0px 5px rgb(255, 255, 255);
    left: 15px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;

    perspective: 500px;
}
.start-button:hover{
    transform: scale(1.1) translateY(-3px) rotateX(15deg) rotateY(15deg) rotateZ(5deg);


    box-shadow: inset 0px 0px 10px rgb(21, 2, 2), 
                0px 8px 15px rgba(252, 255, 154, 0.858);

}

#start-window-start-button{
    top: 50px;
    background-image: url('start-window.jpeg');
}